body{
	margin: 0;
	padding: 0;
}

header{
	background-image: url("../images/logo.svg"), url("../images/background.jpg");
	background-size: 200px auto, 100%;
	padding-top: 6em;
	background-repeat: no-repeat, repeat;
	background-position: center; 20px, left top;
	text-align: left;
}

.nav {
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #fff;
	display: none;
	position:relative;
	width: 16em;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	width: 100%;
}

.nav a {
	display: block;
	padding: 1em;
	text-decoration: none;
	color: #5ae0c9;
	font-size: 18px;

}

.nav a:hover {
background-color: #5ae0c9;
color: #fff;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-label {
  cursor: pointer;
  font-size: 1.25rem;
  display: inline-block;
  width: 35px;
  position: relative;
  right: 0px;
  bottom: 40px;

}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
  margin: 5px;
}

.nav-check:checked ~ .nav-label {
  background-color: transparent;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

.banner img{
	width: 100%;
	margin: 0;
	position: relative;
}

.banner{
	padding: 0;
	position: relative;
	overflow: hidden;
	margin: 0;
}

.banner-content{
	position: absolute;
	bottom: 0;
	text-align: left;
	padding: 10px;
	color: #fff;
	width: 100%;
	font-size: 16px;
	text-shadow: 1px 1px 4px rgba(0,0,0,0.8);
	font-family: 'Raleway', sans-serif;
	margin: 0;
	background-color: rgba(255, 102, 51, .5);
	margin-bottom: 3.5px;


}

.menu{
	overflow: hidden;
}

.menu-items{
  float: left;
  position: relative;
  width: 100%;
 }

 .menu-items img{
 	float: left;
  position: relative;
  width: 100%;
 }

 .bodycopy{
 	overflow: hidden;
 	padding-top: 20px;
 }

.btn {
  padding: 0.4em 1em 0.5em;
  position: absolute;
  top: 15px;
  left: 0;
  background-color: #5ae0c9;
  box-shadow: 0 2px 6px rgba(0,0,0,0.75);
  font-family: 'Raleway', sans-serif;
  color: #fff;
  text-decoration: none;
}

.bodycopy{
	font-family: 'Raleway', sans-serif;
	background-color: #ff6633;
	color: #fff;
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: 1em;
	padding-right: 1em;
	margin: 0;
	line-height: 23px;
}

h3{
	padding: 15px;
	margin: 0;
	font-size: 29.53px;
	font-family: 'Raleway 700', sans-serif;
	color: #ff6633;
}

a{
	text-decoration: none;
}

.about-us img{
	float: left;
	position: relative;
	width: 100%;
}

.about-us{
	background-color: #ff6633;
	height: 20rem;
}

.about-us img{
	width: 20%;
}

.icon{
	padding: .5rem;
}

.icon-text{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	color: #fff;

}

.footer{
	background-image: url("../images/logo.svg"), url("../images/background.jpg");
	background-size: 200px auto, 100%;
	padding-top: 10em;
	background-repeat: no-repeat, no-repeat;
	background-position: center;
	text-align: left;

}

.copyright{
	text-align: left;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	color: #ff6633;
	padding: 20px;
	font-size: 16px;
	background-color: transparent;
	position: relative;
}
