.body{
	margin: 0px;
	padding: 0px;
}

header{
	background-image: url("../images/logo.svg"), url("../images/background.jpg");
	background-size: 50% auto, 100%;
	background-repeat: no-repeat, repeat;
	background-position: left 20px, left top;
	position: relative;
	overflow: hidden;
}

header .nav ul{
  margin: 0;
  padding: 0;
  position: relative;


}

header .nav li{
	list-style-type: none;
	font-family: 'Raleway', sans-serif;
	background-color: #000;
	text-align: center;
}

header .nav a{
  padding: 0.5em;
  text-decoration: none;
  color: #fff;


}

.banner img{
	width: 100%;
	margin: 0;
	position: relative;
}

.banner{
	padding: 0;
	position: relative;
	overflow: hidden;
	margin: 0;
}

.banner-content{
	position: absolute;
	bottom: 0;
	text-align: left;
	padding-left: 16px;
	color: #fff;
	width: 100%;
	font-size: 16px;
	text-shadow: 1px 1px 4px rgba(0,0,0,0.8);
	font-family: 'Raleway', sans-serif;
	margin: 0;
}

.menu{
	  overflow: hidden;
}

.menu-items{
  float: left;
  position: relative;
  width: 100%;
 }

 .menu-items img{
 	float: left;
  position: relative;
  width: 100%;
 }

 .bodycopy{
 	overflow: hidden;
 	padding-top: 20px;
 }

.btn {
  padding: 0.4em 1em 0.5em;
  position: absolute;
  top: 15px;
  left: 0;
  background-color: #5ae0c9;
  box-shadow: 0 2px 6px rgba(0,0,0,0.75);
  font-family: 'Raleway', sans-serif;



  color: #fff;
  text-decoration: none;
}

.btn:hover {
  background-color: #009999;
}

p{
	font-family: 'Raleway', sans-serif;
	background-color: #ff6633;
	color: #fff;
	padding-top: 3em;
	padding-bottom: 3em;
	padding-left: 1em;
	padding-right: 1em;
	margin: 0;
}

h3{
	padding: 15px;
	margin: 0;
	font-size: 29.53px;
	font-family: 'Raleway 700', sans-serif;
	color: #ff6633;
}

	}

footer{
	background-image: url(../images/logo.svg),url(../images/background.jpg);
	background-size: 50%,100%;
	padding-top: 6em;
	margin: 0;
	background-repeat: no-repeat,repeat;
	background-position: left 10px, left top;
	text-align: center;

}

.copyright{
	color: #ff6633;
	background-color: #fff;
	padding: 20px;
}

